@font-face {
  font-family: 'norsebold';
  src: url('norse-bold-webfont.woff2') format('woff2'),
       url('norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.norse {
  font-family: 'norsebold', sans-serif;
  color: white;
  font-size: 90px;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

button {
  background-color: #596D48;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 6px;
  outline: none;
  margin-top: 25px;
  border: none;
  padding: 10px 40px 12px 40px;
  font-size: .7rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;}

.sidelogo {
  position: relative;
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 40%;
}

.sidebar {
  position: absolute;
  top: 150px;
  width: 100%;
  background-color: #0000005d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar img {
  height: 110px;
}

.right-screen {
  position: relative;
  width: 60%;
  float: right;
  background-color: #f7f8fa;
}

.hook-text {
    margin-top: 100px;
    width: 425px;
    margin-left: 30px;
}

.hook-text p {
  margin-top: 15px;
}

.sign-up {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  padding: 10px 35px 20px;
  margin-top: 40px;
}

.sign-up p {
  margin-top: 15px;
}